@import url(./reset.css);
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "SUITE-Regular";
}
/* setting */

/* #4287f5 */

/* gnb-bar */

.head-gnb .gnb {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 25px;
  background: #fff;
}
.head-gnb .gnb.active {
  background: royalblue;
  color: #ddd;
}
.head-gnb .gnb.active ul li:hover {
  background: #ddd;
  color: royalblue;
}
.head-gnb .gnb {
  overflow: hidden;
}
.head-gnb .gnb ul {
  margin-left: 100px;
}
.head-gnb .gnb ul li {
  display: block;
  float: left;
  padding: 0 20px;
  border-left: 2px solid #999;
  border-right: 1px solid #000;
  line-height: 25px;
}
.head-gnb .gnb ul li:hover {
  background: #000;
  color: #eee;
}
.head-gnb .gnb ul li:first-child {
  border-left: none;
}
.head-gnb .gnb ul li:last-child {
  border-right: none;
}

/* Main */
.main {
  width: 100%;
  height: 100vh;
  background: url(./img/KakaoTalk_20240130_142130613.jpg) no-repeat center/cover;
  position: relative;
  filter: saturate(0.6);
}

.main .main-title {
  color: #eee;
  position: absolute;
  top: 10%;
  left: 10%;
  text-align: start;
  animation: text 1s 3s ease-in-out;
  animation-fill-mode: both;
}
.main .main-title H5:nth-child(1) {
  font-size: 8rem;
  animation-delay: 0.3s;
}
.main .main-title H5:nth-child(2) {
  font-size: 3rem;
  animation-delay: 0.3s;
}
.main .main-title H5:nth-child(3) {
  font-size: 2rem;
  animation-delay: 0.3s;
}
@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main .main-title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 220px;
  top: 3.5%;
  left: -3%;
  background: royalblue;
}

/* introduce */

.introduce {
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.introduce .WHO {
  font-size: 80px;
  text-align: center;
  margin: 150px 0;
}

.page2-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  border: 5px solid #ddd;
  padding: 50px;
  border-radius: 50px;
}
.Myself h1 {
  font-size: 50px;
}
.hobby {
  display: flex;
  justify-content: space-between;
}

.hobby .hobbies {
  width: 150px;
  height: 150px;
  margin-bottom: 50px;
  margin-top: 20px;
  transition: all 1s;
}
.hobbies:hover {
  width: 250px;
  height: 250px;
}

.Myskill {
  margin-top: 30px;
}
.Myskill .skills {
  width: 150px;
  height: 150px;
  transition: all 1s;
}
.skills:hover {
  width: 250px;
  height: 250px;
}
/* photo section */

.main-section {
  width: 80%;
  height: 3800px;
  margin: 0 auto;
  overflow: hidden;
}
.main-section h1 {
  font-size: 80px;
  text-align: center;
  margin: 150px 0;
}
.main-section .section01 {
  width: 33%;
  height: 100vh;
  float: left;
}

/* card section */
.photo-card {
  padding: 20px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 10px;
}
.photo-card .card-name {
  font-weight: bold;
  padding-bottom: 10px;
  margin-left: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.photo-card .card-name::before {
  content: "";
  width: 5px;
  height: 25px;
  background: crimson;
  position: absolute;
  top: 0;
  left: -10px;
}
.photo-card .card-img {
  border-bottom: 1px solid #ddd;
}
.photo-card .card-img img {
  width: 100%;
  margin: 10px 0;
}
.photo-card .card-information {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

.photo-bg .card-name {
  position: relative;
}
.photo-bg .card-name-bg::before {
  content: "";
  width: 5px;
  height: 25px;
  background: royalblue;
  position: absolute;
  top: 0;
  left: -10px;
}
.photo-animal .card-name {
  position: relative;
}
.photo-animal .card-name-animal::before {
  content: "";
  width: 5px;
  height: 25px;
  background: yellowgreen;
  position: absolute;
  top: 0;
  left: -10px;
}
.fa-face-smile-beam:hover {
  color: yellow;
  cursor: pointer;
}
.fa-heart:hover {
  color: crimson;
  cursor: pointer;
}
.fa-thumbs-up:hover {
  color: blue;
  cursor: pointer;
}

/* clone section */

.clone-coding {
  width: 80%;
  height: 1000px;
  margin: 0 auto;
}

.clone-coding-h1 {
  font-size: 80px;
  text-align: center;
  margin: 150px;
}
.clone-coding .clone-coding-example {
  float: left;
  width: 45%;
}
.clone-coding .clone-coding-example .web-img {
  display: block;
  width: 100%;
  height: 400px;
  background: url(./img/nexon.png) center/cover no-repeat;
  margin-bottom: 50px;
  float: left;
  margin-top: 20px;
  box-shadow: 5px 5px 10px #999;
}
.clone-coding .clone-coding-example02 {
  float: right;
  width: 45%;
}

.clone-coding .clone-coding-example02 .web-img {
  display: block;
  width: 100%;
  height: 400px;
  background: url(./img/naver.png) center/cover no-repeat;
  margin-bottom: 50px;
  float: right;
  margin-top: 20px;
  box-shadow: 5px 5px 10px #999;
}
.clone-coding .web-btn {
  background: royalblue;
  color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
}
.clone-coding .web-btn:hover {
  background: #fff;
  color: royalblue;
  cursor: pointer;
}
.featherlight .featherlight-content {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.featherlight-content iframe {
  width: 100%;
  height: 100%;
}

/* contact */

.contact {
  width: 80%;
  height: 80vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .contact-h1 {
  font-size: 80px;
  text-align: center;
  margin: 150px 0;
}
.contact fieldset {
  border: 5px solid royalblue;
  padding: 50px 200px;
}
.contact fieldset legend {
  font-size: 50px;
  color: royalblue;
}
.contact fieldset b {
  color: crimson;
  font-size: 30px;
  margin-right: 30px;
}
.contact fieldset p {
  color: #888;
}

/* footer */

footer iframe {
  width: 100%;
  margin-top: 200px;
}
footer .to-top {
  display: flex;
}
footer .to-top a:first-child {
  display: inline-block;
  background: royalblue;
  color: #fff;
  text-align: center;
  font-size: 50px;
  width: 50%;
  border-right: 1px solid #eee;
}
footer .to-top a:last-child {
  display: inline-block;
  background: crimson;
  color: #fff;
  text-align: center;
  font-size: 50px;
  width: 50%;
}
