<<<<<<< HEAD
* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
=======
* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
>>>>>>> 2e043159f842958136351ea2fe8e8c0cb004ab3b
}