@import url(./reset.css);
@font-face {
  font-family: "nexon";
  src: url(./font/넥슨\ 카트\ 고딕\ Medium.ttf);
}
* {
  font-family: "nexon";
}

// ####common#### //

#wrap {
  background: #eee;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  .menu {
    transition: all 0.3s;
    &:hover {
      color: royalblue;
    }
  }
  .log-in {
    font-weight: bold;
    a:first-child:hover {
      color: royalblue;
      cursor: pointer;
    }
    a:last-child {
      margin-left: 20px;
      margin-right: 40px;
      border: 2px solid #000;
      padding: 5px 20px;
      border-radius: 20px;
      transition: all 0.5s;
      &:hover {
        background: royalblue;
        color: #fff;
        border: 2px solid #fff;
      }
    }
  }
}

// figure

figure {
  position: relative;
  width: 100%;
  height: 500px;
  background: url(./img/banner.png) center no-repeat;
  align-items: start;
  margin-bottom: 100px;
  .events {
    position: absolute;
    bottom: 0;
    left: 20%;
    transform: translateX(-17%);
    .event {
      .event01 {
        overflow: hidden;
        li {
          float: left;
          background: rgba($color: #fff, $alpha: 0.3);
          transition: all 0.6s;
          border: 1px solid #000;
          width: 250px;
          &:hover {
            background: rgba($color: #fff, $alpha: 0.6);
          }
          a {
            display: inline-block;
            color: #fff;
            letter-spacing: 2px;
            padding: 10px 30px;
          }
        }
      }
    }
  }
}

// section

section {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  .recommend {
    float: left;
    width: 65%;
    h3 {
      color: skyblue;
    }
    .game-cards {
      display: flex;
      gap: 10px;
    }
    .game-card {
      background: #fff;
      width: 18%;
      .game-img {
        img {
          width: 100%;
        }
      }
      .game-card-name {
        height: 80px;
        padding: 10px;
        & span {
          display: inline-block;
          color: white;
          background: skyblue;
          border-radius: 10px;
          padding: 0 5px;
          font-size: 12px;
        }
        & p {
          font-weight: bold;
          margin-top: 10px;
        }
      }
    }
  }
}

// login section
section {
  .login-section {
    float: right;
    overflow: hidden;
    .center {
      float: right;
      a:hover {
        color: royalblue;
      }
    }
    .log-in-form {
      margin-top: 67px;
      padding: 50px;
      background: #fff;
      padding: 90px 60px;
      .ID-login {
        a {
          display: inline-block;
          padding: 10px 20px;
          background: #000;
          color: #fff;
          text-align: center;
          font-size: 25px;
          width: 300px;
        }
      }
      .login-buttons {
        display: flex;
        justify-content: space-between;
        width: 340px;
        margin-top: 10px;
        span {
          a {
            padding: 10px 0;
            color: #fff;
            display: inline-block;
            width: 168px;
            background: #555;
            text-align: center;
          }
        }
      }
      .other-logins {
        width: 300px;
        margin-top: 20px;
        padding: 5px 20px;
        background: #ddd;
        text-align: center;
        color: #fff;
        font-size: 0.8em;
        a:first-child {
          background: url(./img/set_login.png);
        }
      }
      .login-help {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        color: #ddd;
        font-size: 0.8em;
      }
    }
  }
}
