@import url(./reset.css);
@font-face {
  font-family: "GyeonggiTitleM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GyeonggiTitleM";
}

#wrap {
  width: 80%;
  margin: 0 auto;
}

body {
  position: relative;
  transition: all 1s;
}

header {
  margin-top: 25px;
  width: 100%;
  height: 100px;
  border-radius: 30px;
  background: crimson;
  color: white;
}

header .practice_header {
  text-align: center;
  line-height: 100px;
  letter-spacing: 5px;
  transition: all 1s;
}

.section01 {
  margin-top: 100px;
}

.section01 h1 {
  font-size: 50px;
  text-align: center;
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid #000; */
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  /* transform: translateX(-50%); */
}

.inputBox #month {
  width: 800px;
  height: 100px;
  border: none;
  border-bottom: 3px solid #eee;
  font-size: 30px;
  text-align: center;
  color: #aaa;
}

.inputBox #month::placeholder {
  text-align: center;
  font-size: 30px;
}

.inputBox #month:focus {
  outline: none;
  color: #aaa;
}

.inputBox .btn {
  margin-top: 30px;
  width: 200px;
  height: 25px;
  border: none;
  border-radius: 20px;
  transition: all 0.5s;
}

.btn:hover {
  cursor: pointer;
  background: gold;
  color: #000;
}

.outputBox {
  margin-top: 30px;
  width: 100%;
  height: 300px;
  border: 3px solid #ddd;
  border-radius: 20px;
  padding: 30px;
  font-size: 15px;
}

.inputBox2 .monthS {
  font-size: 30px;
  display: none;
}

.darkMode {
  width: 80px;
  height: 80px;
  border: 1px solid #000;
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 50px;
  text-align: center;
  color: #fff;
  background: #000;
  border-radius: 100%;
  line-height: 80px;
  transition: all 0.5s;
}

.darkMode:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
}

.darkModeOn {
  background: #555;
  color: #fff;
}

.darkModeOnHeader {
  background: #ddd;
  color: #000;
  margin-top: 25px;
  width: 100%;
  height: 100px;
  border-radius: 30px;
}

.hidden {
  display: inline-block;
}

.section02 {
  width: 100%;
  height: 500px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 5px solid #ddd;
  border-bottom: 5px solid #ddd;
}

.section02 h1 {
  margin: 0 auto;
}

.inputBox02 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputBox02 .submit_your_score {
  padding: 20px 150px;
  position: relative;
  border: 1px solid #eee;
  border-radius: 5px 0 0 5px;
}

.submit_your_score::placeholder {
  position: absolute;
  left: 20px;
}

.score_submit {
  width: 50px;
  border-radius: 0 5px 5px 0;
  border: none;
  transition: all 0.5s;
}

.score_submit:hover {
  cursor: pointer;
  background: crimson;
  color: #eee;
}

.result_box {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  position: relative;
  transition: all 1s;
}

.A_class {
  font-size: 100px;
  color: crimson;
  position: absolute;
  display: none;
}
.B_class {
  font-size: 100px;
  color: royalblue;
  position: absolute;
  display: none;
}
.C_class {
  font-size: 100px;
  color: yellowgreen;
  position: absolute;
  display: none;
}

.class_open {
  display: block;
}

.section03 {
  width: 100%;
  height: 500px;
  margin-top: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.funnyQz {
  margin-top: 100px;
}

.choice {
  display: flex;
  margin-top: 100px;
  gap: 100px;
  justify-content: center;
}

.true {
  width: 100px;
  height: 100px;
  background: royalblue;
  text-align: center;
  line-height: 100px;
  border-radius: 100%;
  font-size: 50px;
  color: #ddd;
  cursor: pointer;
  transition: all 1s;
}
.false {
  width: 100px;
  height: 100px;
  background: crimson;
  text-align: center;
  line-height: 100px;
  border-radius: 100%;
  font-size: 50px;
  color: #ddd;
  cursor: pointer;
  transition: all 1s;
}

.true:hover,
.false:hover {
  box-shadow: 0px 0px 50px yellow;
}

.QzResult,
.Qz2Result {
  display: flex;
  height: 100px;
  border-bottom: 3px solid #eee;
  margin-top: 100px;
  font-size: 100px;
  color: #ddd;
  justify-content: center;
}

.chosen {
  display: block;
  padding: 5px 100px;
  margin-top: 50px;
  margin: 50px auto;
}

.QZ h1 {
  display: flex;
  justify-content: center;
}

.Qz_button {
  display: flex;
  margin: 0 auto;
  padding: 10px 50px;
  align-items: center;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
}

.Qz_button:hover {
  cursor: pointer;
  background: crimson;
  color: #eee;
}
